html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wheel {
    position: fixed;
    top: 6.5%;
    left: 32.5%;
    transform: rotate(0);
    width: 35%;
    height: auto;
    display:block;
}
i {
    position: fixed;
    font-size: 50px;
    top:2.5%;
    left: 49%;
    transform: translate(-50%, -50%);
    display:block;
    transform: rotate(135deg);
    color: burlywood;
}